- if current_user
  #current_weather.widget.bottom-10
    .inner
      %h5 Seven Day Temperature
      %hr
      %p= "Weather is"
  #current_action_items.widget.bottom-10
    .inner
      %h5 Pending Reports
      %hr
      - unless @needs_attention_reports.empty?
        - @needs_attention_reports.each do |report|
          = link_to "Report for #{report.site.name}", edit_report_path(report)
      - else
        You have no pending reports.
