- if current_user
  #current_weather.widget.bottom-10
    .inner
      %h5 Seven Day Temperate
      %hr
      %p= "Weather is"
  #current_action_items.widget.bottom-10
    .inner
      %h5 Pending Todos
      %hr
