.DS_Store
.rvmrc
.sass-cache/
app/assets/images/.DS_Store
coverage/
db/development
db/development.sqlite3
db/test.sqlite3
doc/erd/stormsavvy.mwb.bak
doc/intro.md
g++-4.2
log/
public/.DS_Store
test/stormsavvy/
tmp/
