/.bundle
/db/*.sqlite3

/log/*.log
/tmp

*.rdebug
*.rb~
*.haml~
.project
.sass-cache
.idea
.rvmrc
.DS_Store
.rvmrc
.sass-cache/
.gemrc

app/assets/images/.DS_Store
app/pdfs/*.txt
app/models/*.txt
coverage/
config/config.yml
db/development
db/development.sqlite3
db/test.sqlite3
db/test.sqlite3-journal
doc/erd/stormsavvy.mwb.bak
doc/intro.md
g++-4.2
log/
public/.DS_Store
ruby/
script/mailer/
script/heroku/*.dump
test/stormsavvy/
tmp/
vendor/cache/
