/.bundle
/db/*.sqlite3
/db/backups
/log/*.log
/tmp

*.rdebug
*.rb~
*.haml~
*.old

.project
.sass-cache
.idea
.rvmrc
.DS_Store
.rvmrc
.sass-cache/
.gemrc
.env

app/assets/images/.DS_Store
app/pdfs/*.txt
app/models/*.txt
coverage/
config/config.yml
config/heroku_vars.rb
config/wunderground_apikey.txt
config/heroku_vars.rb
db/development
db/development.sqlite3
db/test.sqlite3
db/test.sqlite3-journal
db/production.sqlite3
doc/erd/stormsavvy.mwb.bak
doc/intro.md
log/
public/assets
public/.DS_Store
ruby/
script/mailer/
script/heroku/*.dump
test/stormsavvy/
tmp/
vendor/cache/
g++-4.2
