%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %p
        Here is the weather forecast for El Cerrito, CA 94530:
      %table
        %tr
          %th
            Date
          %th
            Forecast
          %th
            Rainfall
          - begin
            - @forecast1.each do |f|
              %tr
                %td
                  = f[:date]
                %td
                  = f[:weather]
                %td
                  = f[:rainfall]
          - rescue
            'forecast currently not available'
