%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %table
        %tr
          %th
            Forecast
        %tr
          %td
            = @forecast
        %tr
          %td
            = @time_string
        %tr
          %td
            = @forecast_string