%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      /%img{ :src => "https://s3.amazonaws.com/static.appsumo.com/6a32dfce374d4e49780d61c1cd0fbf62b804dc60/email/sumo-logo-4.png",
      /      :alt => "Storm Sumo", :height => "90px", :width => "75px", :border => "0px", :style => "border: 0" }
  %tr
    %td
      %h1
        Daily Admin Email
      = @greeting
      %p
        This is the daily "pester admins" email from Storm Savvy.
      %p
        = @support
      %p
        = @salutation
      %hr
