%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1 Storm Savvy daily admin email

      = @greeting
      %p
        Hey, this is the daily "pester admins" email from Storm Savvy." |
        Check out the current conditions below.
