%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %table
        %tr
          %th
            Date
          %th
            Forecast
          %tr
            - fa().each do |f|
              %tr
                %td
                  = f[:date]
                %td
                  = f[:weather]
