%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %p
        Here is a look at the weather forecast:
      %table
        %tr
          %th
            Date
          %th
            Forecast
          %th
            Rainfall 
          - @forecast1.each do |f|
            %tr
              %td
                = f[:date]
              %td
                = f[:weather]
              %td
                = f[:rainfall]
