%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %table
        %tr
          %th
            Date
          %th
            Forecast
          - puts 'passing spec'
          /- @forecast1.each do |f|
          %tr
            %td
              - puts 'PDD'
              /= f[:date]
            %td
              - puts 'spec needs to pass'
              /= f[:weather]
