%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %table
        %tr
          %th
            Forecast
        %tr
          %td
            = @forecast
            / = @print_forecast

            %hr
