%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Storm Savvy Staging App Email

      = @greeting
      %p
        This is the daily "staging app" email from Storm Savvy.
      %hr
