%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Storm Savvy Staging App Email
      %p
        = @greeting
      %p
        Please see current stats of the app below.
      %p
        = @support
      %p
        = @salutation
