%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Daily Site POP Alert
      %p
        = @greeting
      %p
        Here are the daily POP alerts for your sites:
      %p
        = render 'mailout_forecast', :projects => @projects
      %p
        = @salutation