%h2 Your project alerts
%hr
%ul.projects
  - @user.projects.each do |project|
    %li
      = project.name
      %ul.sites
        - project.sites.each do |site| 
          %li.chance-of-rain
            = "#{site.name} => chance of rain = #{site.chance_of_rain}%"
