= @greeting

This the pester admin email, letting you know that Storm Savvy is up and running.

%h2 Your project alerts
%hr
%ul.projects
  = "Hello #{@user.email}, Here are alerts for your projects: #{ @user.projects }"