= @greeting
%p
  This the pester admin email, letting you
  know that Storm Savvy is up and running.
%p
  Here is a list of your projects:
%table.projects
  %tr
    %th Projects
  %tr
    %td
      = @numprojects

%hr

%table.forecast
  %tr
    %th Forecast
  %tr
    %td @user.forecast

%hr
