%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Welcome to Storm Savvy!
      %p
        = @greeting
      %p
        Thank you for signing up, we look forward to providing you |
        with SWPPP alerts and reports by email and our web app.
      %p
        = @salutation