%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Welcome to Storm Savvy!
      %p
        = @greeting
      %p
        Thanks for signing up!
      %p
        Follow these steps to begin receiving updates:
      %p
        Step 1: Log into your
        = link_to "account", 'http://stormsavvy.com/users/sign_in'
      %p
        Step 2: Add new sites from the dashboard.
      %p
        Step 3: Check your email for updates.
      %p
      %b
        = @salutation
