require 'spec_helper'

describe 'sites/_noaa_forecast_table' do

  include Devise::TestHelpers

  def valid_attributes
    {
      :zipcode => 94530,
      :name => 'ecp'
    }
  end

  def valid_session
    { "warden.user.user.key" => session["warden.user.user.key"] }
  end

  let!(:user) { FactoryGirl.build(:user) }
  let!(:site) {
    FactoryGirl.create(
      :site,
      user: user
    )
  }

  it 'renders the noaa forecast' do
    sign_in user

    render
    rendered.should =~ /Date/
    rendered.should =~ /Chance of Rain/
    rendered.should =~ /Forecast Rain/

    rendered.should =~ /UTC/
    rendered.should =~ /%/
    rendered.should =~ /"/
  end
end
