.container
  .row
    .span12
      .panel
        .inner
          .headline.bottom-10.cf
            %h2 Edit Inspection Event
            = render 'form'
            / = link_to 'Show', @inspection_event
            / \|
            / = link_to 'Back', inspection_events_path