#cta_bar.bottom-10
  .inner.cf
    .row
      .pull-left.span10
        %h2
          Start Tracking Your Site Today With Weather Notifications Today.
          / Starting Managing Your Site and Stormwater More Effectively Today.
        %p
        %h4
          Sign Up Here To Begin.
          / Why continue managing your site and stormwater with paper
          / documentation when web technologies are available?
        %hr
        %p
        %h4
          Sign up 
          / Track your project real-time with Storm Savvy and less time on 
          / tedious paperwork.
      .pull-right.top-20
        / =link_to "Get Started", new_user_registration_path, :class => "btn btn-primary"
