/ #cta_bar.bottom-10
/   .inner.cf
/     .row
/       .pull-left.span10
/         %h3
/           Start Tracking Your Site Today With Weather Notifications Today
/         %p
/         .loud
/           Sign Up Today, In Less Than A Minute
/         %hr
/         %p
/         %h3
/           Save Thousands of Dollars On Custom Software
/         %p
/         .loud
/           Leverage Web Technology For Use On Your Project Today
/       .pull-right.top-20
/         =link_to "Get Started", new_user_registration_path, :class => "btn btn-primary"
/         %br
/         %br