#cta_bar.bottom-10
  .inner.cf
    .pull-left.span10
      %h2 Learn More About Optimizing Your SWPPPP Compliance Practices
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui,
        condimentum quis posuere vel, placerat non lorem. Maecenas erat eros, congue ut
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ligula dui,


    .pull-right.top-20
      =link_to "Get Started", new_user_registration_path, :class => "btn btn-primary"