#cta_bar.bottom-10
  .inner.cf
    .row
      .pull-left.span10
        %h2 Learn More About Optimizing Your SWPPP Compliance Practices
        %p
          Storm Water compliance procedures can be time consuming thus costly.
          Our solution saves you time and money by automating critical form
          preparation required to meet regulatory compliance.  Click the blue
          button to the right to get started.


      .pull-right.top-20
        =link_to "Get Started", new_user_registration_path, :class => "btn btn-primary"