#cta_bar.bottom-10
  .inner.cf
    .row
      .pull-left.span10
        %h3 Sign Up Today For Free.
        %p
        %h4 Test Text Here.
      .pull-right.top-20
        =link_to "Get Started", new_user_registration_path, :class => "btn btn-primary"
