.hero-unit
  %h2.pagination-centered
    How Storm Savvy Works
  .row-fluid
    .span4
      %h3 Create Free Account
      %p.font Sign up by email. Monitor projects by our website or email.
      // %a.btn.btn-primary{:href => "#", :role => "button"} View details &raquo;
    .span4
      %h3 Update Your Projects
      %p.font Add your projects by zipcode. Track progress from our dashboard.
      //%a.btn.btn-primary{:href => "#", :role => "button"} View details &raquo;
    .span4
      %h3 Check For Updates
      %p.font Receive updates by email. Check alerts and notifications.
      //%a.btn.btn-primary{:href => "#", :role => "button"} View details &raquo;
