.leaderboard
  .container
    .row
      .span8
        .pagination-centered
          = render 'pages/maincopy'
      .span4
        = render 'pages/devise_signin'
  .container
    .row
      .span12
      %hr
        %h1.pagination-centered
          How Storm Savvy Works
    %br
    .row
      .span6
        %font{:face => "Arial", :size => "5"} Step 1: Create Free Account
        %p
        %font{:face => "Arial", :size => "3"} Sign up by email, cancel any time
      .span6
        %font{:face => "Arial", :size => "5"} Step 2: Dashboard Login
        %p
        %font{:face => "Arial", :size => "3"} View project and weather updates
    %br
    .row
      .span6
        %p
        %font{:face => "Arial", :size => "5"} Step 3: Create New Sites
        %p
        %font{:face => "Arial", :size => "3"} Add name and zipcode
      .span6
        %p
        %font{:face => "Arial", :size => "5"} Step 4: Start Tracking
        %p
        %font{:face => "Arial", :size => "3"} Share reports and updates
