.leaderboard
  .container
    .row
      .span8
        %br
        %br
        %br
          .pagination-centered
            = render 'pages/maincopy'
      .span4
        = render 'pages/devise_signin'
  .container
    .row
      .span12
      %hr
        %h3.pagination-centered
          How Storm Savvy Works
