.leaderboard
  .container-fluid
    .row
      .pagination-centered
        = render 'pages/maincopy'
    .row
      %hr
        %h1.pagination-centered
          How Storm Savvy Works
    %br
  .container
    .row
      .span4
        %h2 Create Free Account
        %p Sign up by email, cancel any time
        %p Monitor your projects by logging in or by email updates
        // %a.btn.btn-primary{:href => "#", :role => "button"} View details &raquo;
      .span4
        %h2 Update Your Projects
        %p Add your projects by zipcode
        %p Next, track project information and weather updates from our dashboard
        //%a.btn.btn-primary{:href => "#", :role => "button"} View details &raquo;
      .span4
        %h2 Check For Email Updates
        %p Receive updates by email
        %p Finally, check for daily and weekly updates with action items
        //%a.btn.btn-primary{:href => "#", :role => "button"} View details &raquo;
