.leaderboard
  .container
    .row
      .span8
        .pagination-centered
          = render 'pages/maincopy'
      .span4
        = render 'pages/devise_signin'
  .container
    .row
      .span12
      %hr
        %h1.pagination-centered
          How Storm Savvy Works
    %br
    .row
      .span6
        %h3
          Step 1: Create Free Account
        %h4
          Sign up by email, cancel any time
      .span6
        %h3
          Step 2: Dashboard Login
        %h4
          View project and weather updates
    .row
      .span6
        %h3
          Step 3: Create New Sites
        %h4
          Add name and zipcode
      .span6
        %h3
          Step 4: Start Tracking
        %h4
          Share reports and updates
