#hero
  .container
    .row
      .span7
        %h1 
          Instant Weather.
        %p
        %h1 
          Instant Reports.
        %p  
        %h1 
          Instant SWPPP.
        %p
        %hr
        %p
        %h2
          Be prepared before rain events and reporting deadlines

          %p.top-20
            =link_to "Sign Up"
            or
            =link_to "Learn More", "", :class => "btn btn-primary"
      .span5
        = image_tag "/assets/home/hero.png"
