#hero
  .container
    .row    
      #welcome.hero-unit.span12.pagination-centered
        %h1 Apps That Get The Job Done
        %h3 Focus on Your Project, Not Paperwork          
        .loud Manage your stormwater more effectively with web technology.
        / %br
        / %p.top-20
        / %h4
        /   =link_to "Sign Up"
        /   or
        /   =link_to "Learn More", "", :class => "btn btn-primary"
        / .span5
        /   %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/Ul9IzIaZ9c0", :width => "560"}
        /   = image_tag "/assets/home/hero.png"