.leaderboard
  .container
    .row
      .span8
        %br
        %br
        %br
          .pagination-centered
            = render 'pages/maincopy'
      .span4
        = render 'pages/devise_signin'