#hero
  .container
    .row
      .span12
        #welcome.hero-unit.pagination-centered
          %h1 Got SWPPP?
          %h3 Weather Alerts, Docs & Mobile Apps For Your Project
          .loud 
            Free To Use, Save Thousands On Custom Software
          %p.top-20
            = link_to 'Start Here', new_user_registration_path, :class => "btn btn-primary"
            / %br
            / %p.top-20
            / %h4
            /   =link_to "Sign Up"
            /   or
            /   =link_to "Learn More", "", :class => "btn btn-primary"
            / .span5
            /   %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/Ul9IzIaZ9c0", :width => "560"}
            /   = image_tag "/assets/home/hero.png"
