%h1
  Protect the Environment,
%h1
  Together and In Real-Time
%br
%h3
  Sign up now to start tracking projects, together
%br
  %a.btn.btn-primary.btn-large{:href => new_user_registration_path} Get Started
