#maincopy
  .container
    .row.pagination-centered
      .span6
        %h3
          = link_to "Storm Savvy Tracker", new_user_session_path
        %p
          .loud
            Track Projects Real-Time
      .span6
        %h3
          = link_to "Storm Savvy PDF", 'http://pdf.stormsavvy.com'
        %p
          .loud
            Go Paperless
  .container
    .row.pagination-centered
      .span6
        %h3
          = link_to "Storm Savvy POP", 'http://pop.stormsavvy.com'
        %p
          .loud
            Know Before It Rains
      .span6
        %h3
          = link_to "Consulting Services", consulting_path
        %p
          .loud
            On-Call Inspection Services
