.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('legos-140.jpg', :class => 'align-left')
      %h2 Easy as 1-2-3
      %p
        %h5 Manage your projects from a single dashboard with
            alerts on upcoming rain events and reporting 
            deadlines. No more guessing or late submittals
            with our reporting platform.
    .cf
      = image_tag('data-140.jpg', :class => 'align-left')
      %h2 Real-Time Weather Data 
      %p 
        %h5 NOAA forecasts for your project site zipcode provides
            updates on upcoming rain events. Be ready for the 
            rain and prepare on site before it arrives.
    .cf
      = image_tag('alerts-140.jpg', :class => 'align-left')
      %h2 Instant Alerts (Coming Soon)
      %p
        %h5 Receive email notifications before rain events and
            reporting deadlines. Know about due dates before
            they arrive and avoid penalties.
