.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('legos-140.jpg', :class => 'align-left')
      %h2 Easy as 1-2-3
      %p
      %h3 Setup Your Site. Check For Alerts. Report Online.
    .cf
      = image_tag('data-140.jpg', :class => 'align-left')
      %h2 Real-Time Weather Data 
      %p 
      %h3 Geolocation NOAA Forecasts
    .cf
      = image_tag('alerts-140.jpg', :class => 'align-left')
      %h2 Instant Alerts (Coming Soon)
      %p
      %h3 Email Notifications Before Rain Events and Deadlines.
