.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Simple and Easy to Use
      %p
      %5
          
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Instant Alerts
      %p
      %h5
        Always be up to speed with email/SMS alerts when reports and inspections are due
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Real-Time Weather Data 
      %h5
        Track your site more closely with forecasts and climate data
      %p 
