.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Easy as 1-2-3
      %p
      %h5

    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Instant Alerts
      %p
      %h5

    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3
      %h5

      %p
