#maincopy
  .container
    .row
      .span12.pull-right.span11
        %h3
          How It Works
        %p
        .loud
          From Mobile Apps For Inspection To PDF Forms In The Office, Storm Savvy Got You Covered.