.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('legos-140.jpg', :class => 'align-left')
      %h2 Easy as 1-2-3
      %p
        %h4 Manage your projects from a single dashboard with
            alerts on upcoming rain events and reporting 
            deadlines. No more guessing or late submittals
            with our reporting platform.
    .cf
      = image_tag('data-140.jpg', :class => 'align-left')
      %h2 Real-Time Weather Data 
      %p 
        %h4 Geolocation-based NOAA forecasts breakdown weather
            trends in your area by zipcode. Save your location
            with each project and be prepared before the rain
            events.
    .cf
      = image_tag('alerts-140.jpg', :class => 'align-left')
      %h2 Instant Alerts (Coming Soon)
      %p
        %h4 Received email alerts before upcoming rain events
            and reporting deadlines. Be prepared ahead of
            any events affecting SWPPP protection over your
            job site.
