#maincopy

  %ul.thumbnails
    %li.span6
      .thumbnail
        = image_tag('legos-140.jpg', :class => 'align-left')
        %h3 Simple To Use
        %p
        %h4
          Manage your projects from a single dashboard.

          Alerts on upcoming rain events and reporting
          deadlines.

          No more guessing or late submittals
          with our reporting platform.

  %ul.thumbnails
    %li.span4
      .thumbnail
        = image_tag('legos-140.jpg', :class => 'align-left')
        %h3 Simple To Use
        %p
        %h5
          Manage your projects from a single dashboard.

          Alerts on upcoming rain events and reporting
          deadlines.

          No more guessing or late submittals
          with our reporting platform.

  .inner.cf
    .container
      .pull-left.span4
        %br
        = image_tag('legos-140.jpg', :class => 'align-left')
        %h4
          Simple To Use
        %h5
          Manage your projects from a single dashboard:
        %li
          Alerts on upcoming rain events and reporting
          deadlines.
        %li
          No more guessing or late submittals
          with our reporting platform.
        %br
      .pull-center.span4
        %br
        = image_tag('data-140.jpg', :class => 'align-left')
        %h4
          Real-Time Weather Data
        %h5
          Geolocation-based NOAA forecasts:
        %li
          Breakdown weather trends in your area by zipcode.
        %li 
          Save your location and be prepared before the rain
          events.
        %br
    .container
      .pull-left.span4
        /%br
        /= image_tag('alerts-140.jpg', :class => 'align-left')
        %h4
          Coming Soon: Instant Alerts
        %h5
          Received email alerts:
        %li
          Before upcoming rain events and reporting deadlines.
        %li
          Be prepared ahead of any events affecting your
          job site.
      .pull-center.span4
        /%br
        /= image_tag('alerts-140.jpg', :class => 'align-left')
        %h4
          Coming Soon: SMS Alerts
        %h5
          Received SMS alerts:
        %li
          Before upcoming rain events and reporting deadlines.
        %li
          Be prepared ahead of any events affecting your
          job site.
    .container
      %br
      %br
      .pull-left.span6
        %script{:src => "//platform.linkedin.com/in.js", :type => "text/javascript"}
        %script{"data-id" => "2525584", "data-modules" => "innetwork,newhires,jobchanges", :type => "IN/CompanyInsider"}
    %br
    %br
      /.pull-right.span4
      /%script{:src => "//platform.linkedin.com/in.js", :type => "text/javascript"}
      /%script{"data-format" => "inline", "data-id" => "2525584", :type => "IN/CompanyProfile"}
