#maincopy
  .inner.cf
    .row
      .span2
        %br
        = image_tag('legos-140.jpg', :class => 'align-left')
      .span10
        %h3
          Simple To Use
        %h5
          Manage your projects from a single dashboard:
        %li
          Alerts on upcoming rain events and reporting
          deadlines.
        %li
          No more guessing or late submittals
          with our reporting platform.
    .row
      .span2
        %br
        = image_tag('data-140.jpg', :class => 'align-left')
      .span10
        %h3
          Real-Time Weather Data
        %h5
          Geolocation-based NOAA forecasts:
        %li
          Breakdown weather trends in your area by zipcode.
        %li 
          Save your location and be prepared before the rain
          events.
    .row
      .span2
        %br
        = image_tag('alerts-140.jpg', :class => 'align-left')
      .span10
        %h3
          Instant Alerts (Coming Soon)
        %h5
          Received email alerts:
        %li
          Before upcoming rain events and reporting deadlines.
        %li
          Be prepared ahead of any events affecting your
          job site.
