.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('legos-140.jpg', :class => 'align-left')
      %h2 Easy as 1-2-3
      %p
        %h3 Control your projects from one simple dashboard
          with weather forecasts and report updates.
          Check for coming rain events and reporting
          deadlines.
    .cf
      = image_tag('data-140.jpg', :class => 'align-left')
      %h2 Real-Time Weather Data 
      %p 
        %h3 Geolocation-based NOAA forecasts breakdown weather
            trends in your area by zipcode. Save your location
            with each project and be prepared before the rain
            events.
    .cf
      = image_tag('alerts-140.jpg', :class => 'align-left')
      %h2 Instant Alerts (Coming Soon)
      %p
        %h3 Received email alerts before upcoming rain events
            and reporting deadlines. Be prepared ahead of
            any events affecting SWPPP protection over your
            job site.
