.row
  .twelve.columns.copy.herostyle
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Do-It-Yourself: Simple and Easy to Use
      %p
        StormSavvy saves you time and lets you focus on the rest of your project.
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 Alerts: Always be up to Speed
      %p
        Rain and inspection event alerts to keep your site and project documents updated.
    .cf
      = image_tag('site_140px.jpg', :class => 'align-left')
      %h3 SWPPP First: Track your SWPPP and Site more closely
      %p
        StormSavvy helps you track your site more closely so that you will be ready.
