.hero-unit
  %h1 Real-Time Stormwater Management
  %p.lead Weather Alerts, Project Updates & PDF Reports By Email
  %br
  %a.btn.btn-primary.btn-large{:href => new_user_registration_path} Get Storm Savvy Now
