#maincopy
  .container
    .row
      .span12.pull-right.span11
        %h3
          How It Works
        %p
        .loud
          From Field Inspection To Paperwork, 
          Storm Savvy Got You Covered.
        %h3
          Project Tracking
        %p
        .loud
          Input Project Data, Track On The Go
        %h3
          Storm Savvy POP
        %p
        .loud
          Know Before It Rains
        %h3
          Storm Savvy PDF (Coming Soon)
        %p
        .loud
          PDFs On Your Pad