.jumbotron
  .pagination-centered
    %h1 Real-Time Stormwater Management
    %p Effective, Efficient Permit Compliance
    %br
    %a.btn.btn-primary.btn-large{:href => new_user_registration_path} Get Storm Savvy Now
