.row
  .span12
    %h1 
      Enabling Busy Professionals
    %p 
      Storm Savvy enables busy professionals to overcome the burden
      of paperwork and focus on building their projects more
      efficiently.
    %p 
      We believe in harnessing technology to improve project
      documentation and building effiency.
    %br
    %br
    %br
    %br
    %br
    %br
