.container
  .row
    .span10
      %h3 Making SWPPP Easy
      %br
        We provide alerts and reports via email and web application.
      %br
        By automating these processes, we save you time and money.