.row
  .span12
    %h3 StormSavvy keeps your site SWPPP compliant
    %br
      Storm Savvy enables busy professionals to overcome the burden
      of paperwork by streamlining web-enabled technologies such as
      PDF rendering, email notifications and streaming public API data.
    %br
      While we are living in the electronic age, many aspects of life
      are dictated by the ability to fill out and process lots of
      paperwork quickly. Although the exchange of information is a vital
      part of modern life, the time required to manage paperwork frequently
      impedes progress on projects and increases the company's carbon foot
      print.
    %br
    %br
