.hero
  .container
    .row
      .span10
        #welcome.hero-unit.pagination-centered
          %h1
            Storm Savvy Got You covered.
          %h3
            Contact us at walter@stormsavvy.com.
