.hero
  .container
    .row
      .span10
        #welcome.hero-unit.pagination-centered
          %h1 
            On-Site And On-Call
          %h3 
            Storm Savvy Got You covered.
          .loud 
            Storm Savvy Consulting Services provides on-call inspection services.
          .loud
            We offer competitive rates, same day turn-around.
          %p.top-20
            = link_to 'Start Here', new_user_registration_path, :class => "btn btn-primary"

.container
  .row
    .span5.pagination-centered
      %h3
        Bio #1 Here.
    .span5.pagination-centered
      %h3
        Bio #2 Here.
