.container
  .p.top-20
    %h5
      Storm Savvy HQ is located in the San Francisco Bay Area:
    = image_tag('wikimedia_cc_sf.jpg', :class => 'align-right')
    %p
    %br
    %h3 Please let us know what you think!
    %p
      If you have a question, check out the FAQ that
      contains infomration that may answer it.
    %p
      Otherwise, contact us at info@stormsavvy.com
    %br
    %br
