.row
  .span10
    %h3 Why Storm Savvy?
    %p
      We make SWPPP easy so you can focus on your project.
    %p
      Get free alerts and reports delivered to your email.
    %h3
      How Do I Use It?
    %p
      Sign up, then login and begin using our app.
    %h3
      How Much Does It Cost?
    %p
      Free to use and paid for full support.
    %p
      Email info@stormsavvy for full support pricing.
