.container
  .row
    .span12
      %h1 Why StormSavvy?
      %p SWPPP compliance is sweeping the construction industry, and StormSavvy keeps your site and documentation in compliance.
      %h1 How Do I Use It?
      %p Sign up, setup projects then follow instructions from our notifications.
      %h1 How Much Does It Cost?
      %p Free for beta, paid features coming soon.