.row
  .span12
    %h3 Why Storm Savvy?
    %p
      Go paperles and wireless. Technology is ever-evolving, so construction
      management does not have to be the same way.
    %p
      Manage your site and stormwater remotely from your machine and soon,
      your mobile device.
    %h3
      How Do I Use It?
    %p
      Sign up, setup projects then follow instructions from our notifications.
    %h3 
      How Much Does It Cost?
    %p
      Free for beta, paid features coming soon.
    %br
    %br