.row.index-page
  .twelve.columns.centered
    %h1 Welcome to StormSavvy!
    %p
      StormSavvy helps you keep your job site SWPPPP compliant.
    %p
      Check it out:
    %ul
      %li
        Document alert management system.
      %li
        Email alerts
    = render 'pages/maincopy'