.row.index-page
  .twelve.columns.centered
    %h2 
      SWPPP Management for Construction Professionals
    %h5
      StormSavvy keeps your job site SWPPP compliant
    %p
    = render 'pages/maincopy'
