%h1 Welcome to Storm Savvy
#featureCopy
  %ul
    %li StormSavvy helps you keep your job site SWPPPP compliant.
    %li Check it out:
    %li Document alert management system.
    %li Email alerts

#featureImages
  .row
    .span2
      = image_tag "//placehold.it/140x140"
    .span10
      %h3 Do-It-Yourself: Simple and Easy to Use
      %p StormSavvy saves you time and lets you focus on the rest of your project.
  .row
    .span2
      = image_tag "//placehold.it/140x140"
    .span10
      %h3 Do-It-Yourself: Simple and Easy to Use
      %p StormSavvy saves you time and lets you focus on the rest of your project.
  .row
    .span2
      = image_tag "//placehold.it/140x140"
    .span10
      %h3 Do-It-Yourself: Simple and Easy to Use
      %p StormSavvy saves you time and lets you focus on the rest of your project.
