.span12
  .row
    %h3
      Privacy Policy
    %br
      This privacy policy sets out how Storm Savvy uses and protects
      any information that you give [business name] when you use
      this website.
    %br
      Storm Savvy is committed to ensuring that your privacy is protected.
    %br
      Should we ask you to provide certain information by which you can be
      identified when using this website, then you can be assured that it
      will only be used in accordance with this privacy statement.
    %br
      Storm Savvy may change this policy from time to time by updating this
      page. You should check this page from time to time to ensure that
      you are happy with any changes.
    %br
    %p
    %b
      What we collect
    %p
    %br
      We may collect the following information:
      %p
      %br
      %li
        Name and job title
      %br
      %li
        Contact information including email address demographic information
        such as postcode, preferences and interests other information relevant
        to customer surveys and/or offers
    %p
    %b
      What we do with the information we gather
    %p
    %br
      We require this information to understand your needs and provide you
      with a better service, and in particular for the following reasons:
      %br
      %br
      %li
        Internal record keeping.
      %br
      %li
        We may use the information to improve our products and services.
      %br
      %li
        We may periodically send promotional emails about new products, special
        offers or other information which we think you may find interesting
        using the email address which you have provided.
      %br
      %li
        From time to time, we may also use your information to contact you for
        market research purposes. We may contact you by email, phone, fax or
        mail.
      %br
      %li
        We may use the information to customise the website according to your
        interests.
    %p
    %b
      Security
    %p
    %br
      We are committed to ensuring that your information is secure. In order
      to prevent unauthorised access or disclosure, we have put in place
      suitable physical, electronic and managerial procedures to safeguard
      and secure the information we collect online.
    %p
    %br
    %b
      Links to other websites
    %p
    %br
      Our website may contain links to other websites of interest. However,
      once you have used these links to leave our site, you should note that
      we do not have any control over that other website. Therefore, we
      cannot be responsible for the protection and privacy of any information
      which you provide whilst visiting such sites and such sites are not
      governed by this privacy statement. You should exercise caution and
      look at the privacy statement applicable to the website in question.
    %p
    %br
    %br
