.container
  .row
    .span10
      %h1 Team StormSavvy
      %p
      %p Dave Doolin, Principal, Co-Founder
      %p
      %p Walter Yu, Principal, Co-Founder
      %p
      %p Wing Yu, Head of Business Development
