.row
  .span12
    %h1 Team StormSavvy
    %p
    %p Adam Barber - Developer, UI/UX
    %p
    %p Dave Doolin - Developer, Architect
    %p
    %p Paul Maki - Developer, API
    %p
    %p Walter Yu - Project Manager, QA Testing