.span12
  .row
    %h3 Terms and Conditions
    %br
    %p
      This Disclaimer governs the use of this site, and the terms and
      conditions for Storm Savvy providing information. By using this
      site, you acknowledge that you have read this Disclaimer and
      that you accept and will be bound by the terms hereof.
    %p
    %p
      Storm Savvy has prepared this Web site for general information purposes.
    %p
    %p
      The information from or through this site is provided "as-is",
      "as available", and all warranties, express or implied, are
      disclaimed (including but not limited to the disclaimer of any
      implied warranties or merchantability and fitness for a particular
      purpose). The information may contain errors, problems, or other
      limitations. As a condition to our providing the information on this
      site, the viewer agrees that Storm Savvy is not liable for any indirect,
      special, incidental, consequential damages or any other damages
      (including damages for loss of business, loss of profits, litigation,
      or the like), whether based on breach of contract, breach of warranty,
      tort (including negligence), product liability or otherwise, even if
      advised of the possibility of such damages.
    %p
    %p
      Use of such information contained in this site is voluntary, and
      reliance on it should only be undertaken after an independent
      review of its accuracy, completeness, efficacy, and timeliness.
  %br
  %br
