!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Testem Page
      %meta{:content => "Testem Page", :name => "description"}
        %link{:href => "/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css", :rel => "stylesheet"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container