.container
  .row
    .span12
      .row
        .span8
          .panel
            .inner
              %h1 All Projects
              = render 'projects/projects'
              = link_to 'New Project', new_project_path

        .span4= render 'dashboard/sidebar'

