%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        Daily Site POP Alert
      %p
        = @greeting
      %p
        Listed below are the daily POP alerts for the North Bay.
      %p
        = @salutation
      %hr
      %p
        = render 'popalert_forecast'
