%table{ :style => "width: 600px; background-color: #eee;", :align => "center" }
  %tr
    %td
      %h1
        NOAA POP Alert
      %p
        = @greeting
      %p
        Please be advised that there is a forecast rain event in your area.
      %p
        = @support
      %p
      %b
        = @salutation
      %p
      %hr
      %p
        = render 'sites/forecast_table'
