!!!
%html{"ng-app" => "site"}
  %head
    %title Site
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div{"ng-view" => ""}
    Sites#Index
    %a{:href => "/#"} index
    %ul{"ng-repeat" => "site in sites"}
      %li
        %a{"ng-click" => "viewSite(site.id)"} {{ site.name }}
    = yield
