/*
@import "compass/reset.scss";
@import "compass/layout.scss";
*/

footer {
  height: 40px;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1;

}

#footer {

  position: fixed;
  bottom: 0;
  background: url("/assets/footerBG.png");
  color: #fff;
  padding: 1em 0 .5em;
  border-top: 1px solid #000;

  a {
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
  }
  .push {
    height: 40px;
  }
  .wrapper > .container {
    padding-top: 40px;
  }
  .social {
    margin-top: -4px;
    margin-bottom: 4px;
  }
}
