.nav li {
  padding-top: 5px;
}
.leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.leaderboard h1 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 1;
  letter-spacing: -1px;
  color:#FF6600;
}
.leaderboard p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.dropdown-menu {
  background-color: #2F2A6C;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  background: url("/assets/footerBG.png");
  color: #fff;
  padding: 1em 0 .5em;
  border-top: 1px solid #000;
  a {
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
  }
  .push {
    height: 40px;
  }
  .wrapper > .container {
    padding-top: 40px;
  }
  .social {
    margin-top: -4px;
    margin-bottom: 4px;
  }
}
