.nav {
}

.nav a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.nav a:hover, .bottombar ul li.active a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}

.navbar {
  height: 30px;
  position: fixed;
  bottom: 0;
  background: url("/assets/footerBG.png");
  color: #fff;
  padding: 1em 0 .5em;
  border-top: 1px solid #000;
}

.navbar-inner {

}

.navbar-inner a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inner a:hover, .navbar ul li.active a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;

}
