/**
 * openrecipe.scss
 */

@import 'variables';

body {
  // Move this to public/images
  background: #ccc url('http://subtlepatterns.com/patterns/paper.png');
  //background-color: #808000;
}

nav {
  padding-top: 5px;
}

header, nav, footer {
  background-color: $navbackground;
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
    color: #fff;
  }
}

/*
header nav {
  text-align: right;
}
*/

footer {
  //background-color: #D19FE8;
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  //overflow: none;
  p {
    margin-bottom: 13px;
  }
}

footer > .row {
  text-align: right;
}

h1, h2 {
  font-family: "adelle",serif;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  a {
    color: #fff;
  }
}

h2 {
  font-size: 24px;
}

form label {
  display: inline;
  font-family: "adelle",serif;
  font-style: normal;
}

.container {
  padding: 0 10px 0 10px;
  //background-color: #808000;  // hot pink
  a {
    color: darken($navbackground, 9%);
  }
  h1, h2 {
    color: darken($navbackground, 9%);    
  }
}

.row.index-page {
  margin-top: 25px;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}


/** Main copy */
div.copy h3 {
  font-size: 22px;
}

.copy img {
  margin: 0 1em 1em 0;
  border: 3px solid #eee;
}

ul.social-links li {
  display: inline;
}

.g-plusone {
  display: inline;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}
