.sprites {
    background-image     : url(/assets/weather-icons.png);
    background-color     : transparent;
    background-repeat    : no-repeat;
    display: inline-block;
    float: left;
 }

 .weather-clear {
    height               : 32px;
    width                : 32px;
    background-position  : -0px -0px;
 }

 .weather-watch {
    height               : 32px;
    width                : 32px;
    background-position  : -32px -0px;
 }

 .weather-imminent {
    height               : 32px;
    width                : 32px;
    background-position  : -64px -0px;
 }

 .weather-warning {
    height               : 32px;
    width                : 32px;
    background-position  : -96px -0px;
 }
