footer {

  position: fixed;
  bottom: 0;
  width: 100%;

  color: grey;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1;

  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  
}

#footer {

  position: fixed;
  bottom: 0;
  background: url("/assets/footerBG.png");
  color: #fff;
  padding: 1em 0 .5em;
  border-top: 1px solid #000;

  a {
    color: #fff;
    &:hover {
      color: #ccc;
    }
  }
  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
  }
  .push {
    height: 40px;
  }
  .wrapper > .container {
    padding-top: 40px;
  }
  .social {
    margin-top: -4px;
    margin-bottom: 4px;
  }
}