.container
  .row
    .span12
      %h1 Active Sites
  .row
    .span12
      %ul
        - @projects.each do |project|
          %li
            = link_to project.name, project_path(project)
            %ul
              - project.sites.each do |site|
                %li= link_to site.name, project_site_path(project, site)