.container
  .row
    .span12
      .row
        .span8
          .panel
            .inner
              %h1 Active Sites
              %hr
              %ul
                /- @projects.each do |project|
                - current_user.projects.each do |project|
                  %h3
                    = link_to project.name, project_path(project), :class => "project_name_link"
                    %ul.project_sites_list.is_hidden
                      - project.sites.each do |site|
                        %li
                          %h3
                            = link_to site.name, project_site_path(project, site)

        .span4= render 'dashboard/sidebar'
