.container
  .row
    .span12
      .row
        .span8
          .panel
            .inner
              %h1 Active Sites
              = link_to 'New Site', new_site_path(@site)
              %hr
              %ul
                /- @projects.each do |project|
                - current_user.sites.each do |site|
                  %h3
                    = link_to site.name, site_path(site), :class => "project_name_link"
                    %ul.project_sites_list.is_hidden
                      - sites.each do |site|
                        %li
                          %h3
                            = link_to site.name, site_path(site)

        .span4= render 'dashboard/sidebar'
