.container
  .row
    .span10
      .h1
        Report Status
      %p
      .h2
        Reports Needing Attention:
        = Report.needs_attention.count
      %p
      .h2
        Completed Reports:
        = Report.completed.count