%p
  #notice
    = notice
    = button_to 'Delete This Report', report_path(@report), :method => :delete
%p
  %h2 Report Information

.span10
  %p
    = render 'show_file'
    = render 'download_links'
