.container
  .row
    .span10
      %h2
        View Report
      %br
        .small
          =image_tag("/assets/CEM2030-2012_Page_01.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_02.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_03.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_04.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_05.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_06.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_07.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_08.png")
          %br
          =image_tag("/assets/CEM2030-2012_Page_09.png")
        %br
      %h2
        = link_to "Download PDF", report_path(@report, :pdf)
        \|
        = link_to 'Edit', edit_report_path(@report)
        \|
        = link_to 'Delete', report_path(@report), :method => :delete
      %br

        / Comment out until site link is necessary
        / %b Site:
        / = link_to @report.site.name, project_site_path(@report.site.project, @report.site)
