.container
  .row
    %p
      #notice
        = notice
        = button_to 'Delete This Report', report_path(@report), :method => :delete

    %fieldset
      .span10
        %p
          %h2 Report Information:
          %br
            = render 'show_file'
            = render 'download_links'
