.row
  .span12
    %h2
      View Report
      .small
        = link_to "Download PDF", report_path(@report, :pdf)
    %b Site:
    = link_to @report.site.name, project_site_path(@report.site.project, @report.site)
