.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "./index.html"} Storm Savvy
      .nav-collapse.collapse
        %ul.nav
          %li.active
            %a{:href => "./index.html"} Home
          %li
            %a{:href => "./getting-started.html"} Get started
          %li
            %a{:href => "./scaffolding.html"} Scaffolding
          %li
            %a{:href => "./base-css.html"} Base CSS
          %li
            %a{:href => "./components.html"} Components
          %li
            %a{:href => "./javascript.html"} JavaScript
          %li
            %a{:href => "./customize.html"} Customize