.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse.collapse
        %ul.nav
          %li.active
            %a.brand{:href => root_path } Storm Savvy
            - if user_signed_in?
              /%li=link_to "Sites", index_path
              %li=link_to "Inspections", inspection_events_path
              %li=link_to "Sampling", sampling_events_path
              %li=link_to "Forms", pdf_path
              / %li=link_to "Reports", reports_path
              %li=link_to "Settings", edit_user_registration_path
              %li=link_to "Sign out", destroy_user_session_path
            - else
              /%li=link_to "Plans & Pricing", plans_path
              /%li=link_to "Feature Tour", features_path
              %li=link_to "Privacy", privacy_path
              %li=link_to "Terms", terms_path
              %li=link_to "Contact", contact_path
              /%li=link_to "Blog", 'http://stormsavvy.me'
              %li=link_to "Sign up", new_user_registration_path
              %li=link_to "Sign in", new_user_session_path
