.navbar
  .navbar-inner
    .container
      =link_to "Storm Savvy", root_path, :class => "brand"
      .cf
        .nav.pull-right
          - if user_signed_in?
            %li=link_to "Projects", root_path
            %li=link_to "Settings", edit_user_registration_path
            %li=link_to "Sign out", destroy_user_session_path
          - else
            %li=link_to "Plans & Pricing", plans_path
            %li=link_to "Feature Tour", features_path
            %li=link_to "Sign in", new_user_session_path
            %li#sign_up_link=link_to "Sign up", new_user_registration_path